.h1-grande{
	font-size: 100px;
}

.h1-piccolo{
	font-size: 5px;
}

.nascosto{
	display: none;
}

.centro{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#titolo-importante{
	color: #FF0;
}

.titolo-importante{
	color: #F00;
	text-align: center;
}

.blu{
	color: #00F;
}

.grande{
	font-size: 30px;
}

.piccola{
	width: 300px;
	text-align: center;
}

h1{
	color: #0F0;
}

h1{
	color: #0FF;
}

div{
	border-style: solid;
	border-color: #000;
	border-width: 3px;
}
